/*
#overview
title
overview comment
*/

/*
#styleguide
style title
style comment.
@depulicated
@非推奨
@todo
@your-attribute
```
sample code here.
```
*/

/*
#colors
@primary #996600
@secondary #333
@color-name color-code
*/
body{
	color: #000;
	font-size: 222px;
}
.level1 {
	font-size: 1px;
	color: red;
	&:hover {
		color: blue;
	}
}


.level2 {
	font-size: 12px;
	color: orange;
}


@import "commons/sprite";
@import "setting/icons";
@import "../components/site-header/_site-header";

.icon-fb-1{
	@include sprite($sprite-fb-1);
	display: inline-block;
}
.centerMiddle {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

div{
	font-size: 12px;
}
