<% var title = "html Title"; %>
<% var path = filename.split('/')[filename.split('/').length - 1].replace('.ejs','') %>
<% include components/_head %>
<% include components/site-header/_header %>
<!-- start contents -->
<div class="main_visual">
    <div class="main_visual_inner">
        <img src="http://placehold.it/980x520" height="520" width="980" alt="">
    </div>
</div>

<!-- start contents -->
<div class="contents">
    <div class="contents_inner">
        <div class="main"><i class="icon-heart"></i><%= path %></div>
        <aside class="side"></aside>
        <div><i class="icon-fb-1"></i></div>
    </div>
</div>
<!-- end contents -->
<% include components/site-footer/_footer %>
<% include components/_script %>
